---
dnsmasq_servers: [] # managed by Pi-Hole
pihole_dns:
  - 1.1.1.1
  - 1.0.0.1

# Container settings
# renovate: datasource=docker
pihole_container_image: pihole/pihole:2025.11.0
pihole_data_directory: /etc/pihole
pihole_dnsmasq_directory: /etc/dnsmasq.d
pihole_dns_ratelimit_count: 2048

# General settings
pihole_webserver_api_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65663932633464653162373138306538383963653863313263613963653362336264356339616635
  6439633432386637643962316433666333303134643565390a633161636134316339643266613263
  32313232363537653531363934613961636530396235316331366666636133363464373333346236
  3036613961336562650a353362303161366165616633313961343763356131323732616265373332
  64346665613863386461306531363866626537616231636664363364393763376466373065353633
  6630373863366138313161613830396532363231363230346330

# Static/Custom hosts
pihole_dnsmasq_lines:
  - host-record=k3s.kyle2.net,192.168.10.142,60
  - host-record=k3s.kyle2.net,192.168.10.34,60
  - host-record=k3s.kyle2.net,192.168.10.60,60
