---
# Docker container image tag and data directory
wireguard_container_image: ghcr.io/wg-easy/wg-easy:15
wireguard_data_directory: /srv/docker/wireguard

# WireGuard settings
wireguard_host: 127.0.0.1
wireguard_port: 51820
wireguard_ui_port: 51821
wireguard_ui_host: 0.0.0.0
wireguard_ui_username: admin
wireguard_ui_password: wireguard
wireguard_ipv4_cidr: 10.8.0.0/24
wireguard_ipv6_cidr: 2001:0DB8::/32
wireguard_dns: 1.1.1.1, 1.0.0.1
wireguard_disable_ipv6: true
