# Called from mail.yaml, using include_tasks
---
- name: Files
  block:
    - name: Files | Ensure WireGuard data directory exists
      ansible.builtin.file:
        path: "{{ wireguard_data_directory }}"
        state: directory
        owner: root
        group: root
        mode: "0755"
  become: true
  tags:
    - files
    - wireguard
