# Called from mail.yaml, using include_tasks
---
- name: Setup
  block:
    - name: Setup | Enable IPv4 and IPv6 Forwarding
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
        sysctl_set: true
        reload: true
      loop:
        - { name: net.ipv4.ip_forward, value: 1 }
        - { name: net.ipv4.conf.all.src_valid_mark, value: 1 }
        - { name: net.ipv6.conf.all.disable_ipv6, value: 0 }
        - { name: net.ipv6.conf.all.forwarding, value: 1 }
        - { name: net.ipv6.conf.default.forwarding, value: 1 }

    - name: Setup | Install wireguard packages
      ansible.builtin.apt:
        name: "{{ item }}"
        state: latest
      loop:
        - wireguard
        - wireguard-tools

    - name: Setup | Pull '{{ wireguard_container_image }}' docker container
      community.docker.docker_image:
        name: "{{ wireguard_container_image }}"
        source: pull

    - name: "Setup | Pull and start latest '{{ wireguard_container_image }}' docker container"
      community.docker.docker_container:
        name: wireguard
        image: "{{ wireguard_container_image }}"
        restart_policy: unless-stopped
        restart: true
        memory: 256M
        capabilities:
          - NET_ADMIN
        volumes:
          - "/etc/wireguard:/etc/wireguard"
          - "{{ wireguard_data_directory }}/data:/app/data"
          - "{{ wireguard_data_directory }}/config:/app/config"
        network_mode: host
        comparisons:
          "*": strict # recreate container on _any_ change
  become: true
  tags:
    - setup
    - wireguard
