---
- name: Shutdown
  block:
    - name: Shutdown | Drain k3s node
      ansible.builtin.command: |
        kubectl drain {{ hostname | quote }} \
          --delete-emptydir-data \
          --ignore-daemonsets
      delegate_to: localhost

    # Just a safety precaution
    - name: Shutdown | Wait 60s for node to drain
      ansible.builtin.pause:
        seconds: 60

    - name: Shutdown | Run k3s-killall.sh
      ansible.builtin.command: k3s-killall.sh
  notify:
    - Start k3s service
    - Uncordon k3s node
    - Wait for k3s node
    - Wait for cluster to normalize
  tags:
    - k3s
    - Shutdown
