# {{ ansible_managed }} - {{ ansible_date_time.date }} {{ ansible_date_time.time }}
# Email used for SSL certificates
NM_EMAIL={{ netmaker_email | quote }}
# The base domain of netmaker
NM_DOMAIN={{ netmaker_domain | quote }}
# Public IP of machine
SERVER_HOST={{ netmaker_server_host | quote }}
# The admin master key for accessing the API. Change this in any production installation.
MASTER_KEY={{ netmaker_master_key | quote }}
# The username to set for turn api access
TURN_USERNAME={{ netmaker_turn_username | quote }}
# The password to set for turn api access
TURN_PASSWORD={{ netmaker_turn_password | quote }}
# The username to set for MQ access
MQ_USERNAME={{ netmaker_mq_username | quote }}
# The password to set for MQ access
MQ_PASSWORD={{ netmaker_mq_password | quote }}
INSTALL_TYPE={{ netmaker_install_type | quote }}
NETMAKER_ACCOUNT_ID={{ netmaker_account_id | quote }}
LICENSE_KEY={{ netmaker_license_key | quote }}
SERVER_IMAGE_TAG={{ netmaker_version | quote }}
UI_IMAGE_TAG={{ netmaker_version | quote }}
NETCLIENT_ENDPOINT_DETECTION={{ netmaker_endpoint_detection | quote }}
# used for HA - identifies this server vs other servers
NODE_ID={{ netmaker_node_id | quote }}
METRICS_EXPORTER={{ netmaker_metrics_exporter | quote }}
PROMETHEUS={{ netmaker_prometheus | quote }}
# Enables DNS Mode, meaning all nodes will set hosts file for private dns settings
DNS_MODE={{ netmaker_dns_mode | quote }}
# Enable auto update of netclient ? ENUM:- enabled,disabled | default=enabled
NETCLIENT_AUTO_UPDATE={{ netmaker_netclient_auto_update | quote }}
# The HTTP API port for Netmaker. Used for API calls / communication from front end.
# If changed, need to change port of BACKEND_URL for netmaker-ui.
API_PORT={{ netmaker_api_port | quote }}
EXPORTER_API_PORT={{ netmaker_exporter_api_port | quote }}
# The "allowed origin" for API requests. Change to restrict where API requests can come from with comma-separated
# URLs. ex:- https://dashboard.netmaker.domain1.com,https://dashboard.netmaker.domain2.com
CORS_ALLOWED_ORIGIN={{ netmaker_cors_allowed_origin | quote }}
# Show keys permanently in UI (until deleted) as opposed to 1-time display.
DISPLAY_KEYS={{ netmaker_display_keys | quote }}
# Database to use - sqlite, postgres, or rqlite
DATABASE={{ netmaker_database | quote }}
# The address of the mq server. If running from docker compose it will be "mq". Otherwise, need to input address.
# If using "host networking", it will find and detect the IP of the mq container.
SERVER_BROKER_ENDPOINT={{ netmaker_server_broker_endpoint | quote }}
# The reachable port of STUN on the server
STUN_PORT={{ netmaker_stun_port | quote }}
# Logging verbosity level - 1, 2, or 3
VERBOSITY={{ netmaker_verbosity | quote }}
# Port to access turn server
TURN_PORT={{ netmaker_turn_port | quote }}
# Config for using turn, accepts either true/false
USE_TURN={{ netmaker_use_turn | quote }}
DEBUG_MODE={{ netmaker_debug_mode | quote }}
TURN_API_PORT={{ netmaker_turn_api_port | quote }}
# Enables the REST backend (API running on API_PORT at SERVER_HTTP_HOST).
# Change to "off" to turn off.
REST_BACKEND={{ netmaker_rest_backend | quote }}
# If turned "on", Server will not set Host based on remote IP check.
# This is already overridden if SERVER_HOST is set. Turned "off" by default.
DISABLE_REMOTE_IP_CHECK={{ netmaker_disable_remote_ip_check | quote }}
# Whether or not to send telemetry data to help improve Netmaker. Switch to "off" to opt out of sending telemetry.
TELEMETRY={{ netmaker_telemetry | quote }}
###
#
# OAuth section
#
###
# "<azure-ad|github|google|oidc>"
AUTH_PROVIDER={{ netmaker_auth_provider | quote }}
# "<client id of your oauth provider>"
CLIENT_ID={{ netmaker_client_id | quote }}
# "<client secret of your oauth provider>"
CLIENT_SECRET={{ netmaker_client_secret | quote }}
# "https://dashboard.<netmaker base domain>"
FRONTEND_URL={{ netmaker_frontend_url | quote }}
# "<only for azure, you may optionally specify the tenant for the OAuth>"
AZURE_TENANT={{ netmaker_azure_tenant | quote }}
# https://oidc.yourprovider.com - URL of oidc provider
OIDC_ISSUER={{ netmaker_oidc_issuer | quote }}
