# {{ ansible_managed }} - {{ ansible_date_time.date }} {{ ansible_date_time.time }}
options timeout:{{ pihole_resolvconf_timeout }} attempts:{{ pihole_resolvconf_attempts }} {% if pihole_resolvconf_rotate | bool %}rotate{% endif %}

# Attempt to use Pi-Hole for local DNS first, but fallback
# to using the same upstream DNS if Pi-Hole is down.
nameserver 127.0.0.1
{% for ns in pihole_dns %}
nameserver {{ ns }}
{% endfor %}
