---
- include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['distribution'] | lower }}.yaml"
    - default.yaml
  tags:
    - minio

- import_tasks: shutdown.yaml
  tags:
    - minio
    - shutdown

- import_tasks: files.yaml
  tags:
    - minio
    - files

- import_tasks: setup.yaml
  tags:
    - minio
    - setup
